body{
    background-color: #f2f2f2;
}

.pointer{
    cursor: pointer;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#button-change-mobile{
    background-image: url(https://raw.githubusercontent.com/GunDevs/Animation-Engine-JS/main/docs/public/assets/ChangeMobile.png);
    width: 46px;
    height: 42px;
    transform: scale(1.4);
    background-position: -0px -0px;
}

#person-megaman{
    background-image: url(https://www.kindpng.com/picc/m/12-129142_exemplo-de-spritesheet-sprite-sheet-megaman-png-transparent.png);
    width: 172px;
    height: 183px;
    transform: scale(1.4);
    background-position: -0px -0px;
    display: none;
}

.frogtity-container{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
}

.frogtity-title{
    text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
    color: white;
    font: inherit;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 11px;
    height: 100%;
    user-select: none;
    padding-top: 60%;
}

.frogtity-tooltip{
    background-color: #f0efcf;
    font: inherit;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    max-width: 100px;
    min-width: 100px;
    color: #7a785f;
    padding: 5px;
    border: 1px solid #7a785f;
    text-align: center;
    display: none;
}